.header_guest {
    display: flex;
    align-items: center;
    background-color: #FFB6C1;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
    height: 56px;
    padding: 0 16px;
    position: fixed; /* Set the position to fixed */
    top: 0; /* Position the header at the top of the screen */
    width: 100%; /* Set the width to 100% */
    z-index: 999; /* Set a high z-index to ensure the header appears on top */
}


.header_left_guest {
    display: flex;
    align-items: center;
    flex: 40%;
}

.header_right_guest {
    display: flex;
    align-items: center;
    justify-content: right;
    flex: 60%;
}

.header_button_guest{
    border-radius: 10px;
    height: 40px;
    padding: 5px;
}

.header_link_guest {
    color: wheat;
    font-size: 16px;
    font-weight: 600;
    margin: 0 30px;
    text-decoration: none;
    text-align: right;
}

.header_logo_guest {
    height: 45px;
    margin-right: 20px;
    border-radius: 30%;
}


.header_search_guest {
    background-color: #f0f2f5;
    border-radius: 20px;
    display: flex;
    align-items: center;
    padding: 4px 8px;
}

.header_search_input_guest {
    border: none;
    background-color: transparent;
    font-size: 14px;
    margin-left: 8px;
    width: 200px;
}

.header_login_guest{
    border: none;
    background-color: white;
    font-size: 14px;
    margin-left: 8px;
    width: 210px;
    height:  35px;
    border-radius: 10px;
    padding-left: 10px;
    margin-right: 10px;
}
.header_search_icon_guest {
    color: #65676b;
    font-size: 16px;
}
.header_center_guest {
    display: flex;
    flex: 60%;
    justify-content: center;
    align-items: center;
}

.cover_guest{
    background-image: linear-gradient(to bottom, rgba(255, 105, 180, 0) 0%, rgba(255, 105, 180, 0.8) 100%);
    transition: opacity 0.5s ease-in-out;
    top: 0;
    left: 0;
    opacity: 1;
    height: 350px;
    box-shadow: rgba(149, 157, 165, 0.2) 10px 8px 24px; /* Bóng mờ */
    width: 100%;
    z-index: 9999;
    display: flex;
    justify-content: center;
}
.cover_guest img{
    width: 65%;
}

.longnhi_navbar{
    width: 100%;
    height: 100px;
    background-color: #FF69B4;
    display: flex;
    justify-content: center;
    flex-direction: row;
}
.navbar-avatar{
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: right;
    flex-direction: row;
    position: relative;

}
.navbar-avatar img{
    position: absolute;
    width: 150px;
    top: -60px;
    height: 150px;
    border: 1px solid black;
    border-radius: 50%;
    z-index: 3;
    right: 20px;
}
.navbar-info{
    width: 70%;
    height: 100%;
    display: flex;
    align-items: start;
    flex-direction: column;
}