.friendRequestList{
    flex:2;
    min-width: 60vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    /*justify-content: center;*/
    background-color: #fff;
    max-height: calc(100vh - 76px);
}

.friendRequestList {
    border: 1px solid #ddd;
    padding: 20px;
    font-family: Arial, sans-serif;
    background-color: #fff;
    width: 400px;
    margin: auto;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.friendRequestList h1 {
    font-size: 24px;
    margin-bottom: 10px;
    text-align: center;
}

.friendRequestList div {
    display: flex;
    padding: 10px 0;
    width: 100%;
}

.friendRequestList div:last-child {
    border-bottom: none;
}

.friendRequestList button {
    background-color: #1877f2;
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 10px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    margin-right: 10px;
    height: 37px;
}

.friendRequestList button:hover {
    background-color: #0e62c7;
}

.friendRequestList-content {
    justify-content: space-between;
    border: 1px solid #ddd;
}

.friendRequestList-status{
    justify-content: center;
}
.friendRequestList-date p {
    justify-content: center;
}

.friendRequestList a{
    width: 100%;
    font-size: 20px;
}

.friendRequestList img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}