.like-button {
    padding: 10px;
    background-color: #fff;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
}

/* Liked state */
.like-button.liked {
    color: #ff8c00;
}