.edit-post {
    flex:2;
    min-width: 60vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    /*justify-content: center;*/
    background-color: #fff;
}

.edit-post {
    padding: 20px;
    margin: 20px 0;
    max-width: 600px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.edit-post h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

.edit-post label {
    display: block;
    margin-bottom: 10px;
}

.edit-post input,
.edit-post textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    margin-bottom: 20px;
}

.edit-post input[type="file"] {
    margin-bottom: 0;
}

.edit-post .image-list {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.edit-post .image-item {
    position: relative;
    width: 100px;
    height: 100px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.edit-post .image-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 3px;
}

.edit-post .image-item button {
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: #fff;
    border: none;
    color: #ff0000;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.edit-post .image-item button:hover {
    transform: scale(1.2);
}

.edit-post button[type="submit"] {
    background-color: #007bff;
    border: none;
    color: #fff;
    padding: 10px 20px;
    border-radius: 3px;
    cursor: pointer;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    transition: all 0.3s ease;
}

.edit-post button[type="submit"]:hover {
    background-color: #0062cc;
}