.group-manager-display-content {
    float: right;
    width: 60%;
}

button {
    background-color: #FFB6C1;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    font-size: 16px;
}

/*button:hover {*/
/*    background-color: #FF69B4;*/
/*}*/
