.sideBarLeft {
    background-color: #F1F1F1FF;
    border-right: 1px solid #dadde1;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    font-size: 14px;
    padding: 16px;
    width: 300px;
}

.sideBarLeft h2 {
    font-size: 18px;
    font-weight: bold;
    margin-top: 0;
}

.sideBarLeft ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.sideBarLeft li {
    margin-bottom: 8px;
}

.sideBarLeft a {
    /*color: #1877f2;*/
    text-decoration: none;
}

.sideBarLeft a:hover {
    /*text-decoration: underline;*/
}

.sideBarLeft {
    flex: 1;
    max-width: 20vw;
    min-width: 20vw;
    top: 76px;
    position: sticky;
    align-self: flex-start;
    max-height: calc(100vh - 76px);
    min-height: calc(100vh - 76px);
}
.sideBarLeft-content {
    position: relative;
    padding: 10px;
}

.sideBarLeft {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.sideBarLeft-content {
    /*margin-bottom: 20px;*/
}

.leftbar-avatar{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.sideBarLeft h2 {
    font-size: 16px;
    margin: 0;
    color: #333;
    text-decoration: none;
    transition: color 0.2s ease-in-out;
}

.sideBarLeft hr {
    border: none;
    height: 1px;
    margin: 10px 0;
    background-color: #ddd;
}

.sideBarLeft a {
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 10px;
    border-radius: 4px;
    transition: box-shadow 0.2s ease-in-out;
}

.sidebarLeftMenu:hover {
    background-color: #FF69B4;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.sideBarLeft a:hover h2 {
    color: white;
}

.longnhi-logo {
    align-self: center;
    justify-self: center;
    max-width: 90%;
    min-width: 90%;
    height: auto;
}

/*.longnhi-logo-div {*/
/*    min-width: 100%;*/
/*    justify-content: center;*/
/*}*/
.longnhi-logo:hover{
    cursor: pointer;
}
.longnhi-logo a:hover{
    background-color: white;
}


/*.longnhi-logo-div {*/
/*    width: 50%;*/
/*    padding-bottom: 50%;*/
/*    position: relative;*/
/*}*/

/*.longnhi-logo {*/
/*    position: absolute;*/
/*    top: 0;*/
/*    bottom: 0;*/
/*    left: 0;*/
/*    right: 0;*/
/*}*/
