/*.sideBarRight {*/
/*    background-color: #ff8c00;*/
/*    border-right: 1px solid #dadde1;*/
/*    box-sizing: border-box;*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    font-size: 14px;*/
/*    padding: 16px;*/
/*    width: 300px;*/
/*}*/

/*.sideBarRight h2 {*/
/*    font-size: 18px;*/
/*    font-weight: bold;*/
/*    margin-top: 0;*/
/*}*/

/*.sideBarRight ul {*/
/*    list-style: none;*/
/*    margin: 0;*/
/*    padding: 0;*/
/*}*/

/*.sideBarRight li {*/
/*    margin-bottom: 8px;*/
/*}*/

/*.sideBarRight a {*/
/*    color: #1877f2;*/
/*    text-decoration: none;*/
/*}*/

/*.sideBarRight a:hover {*/
/*    text-decoration: underline;*/
/*}*/

.sideBarRight {
    flex: 1;
    max-width: 20vw;
    min-height: 50vw;
    top: 56px;
    position: sticky;
    align-self: flex-start;
    background-color: #fff;
    border-left: 1px solid #dadde1;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.sideBarRight-content {
    position: relative;
    padding: 10px;
}

/*.sideBarRight {*/
/*    flex: 0 0 20%;*/
/*    max-width: 20vw;*/
/*    top: 56px;*/
/*    position: sticky;*/
/*    align-self: flex-start;*/
/*}*/

/*.sideBarRight-content {*/
/*    position: relative;*/
/*    padding: 10px;*/
/*}*/

/*.friend_request {*/
/*    display: flex;*/
/*    align-items: center;*/
/*    margin-bottom: 10px;*/
/*}*/

/*.friend_request-avatar img {*/
/*    width: 50px;*/
/*    height: 50px;*/
/*    border-radius: 50%;*/
/*}*/

.friend-details {
    margin-left: 10px;
}

.friend-details h2 {
    margin: 0;
    font-size: 20px;
    font-weight: 600;
}

/*.friend_request-status {*/
/*    margin: 0;*/
/*    color: gray;*/
/*    font-size: 14px;*/
/*}*/

.friend-list {
    display: flex;
    overflow: hidden;
    margin-bottom: 10px;
    align-items: center;
}

.friend-status {
    flex: 1;
}
.friend-details{
    flex: 3;
}
.friend-avatar{
    flex: 1;
    width: 20px;
    height: 20px;
    align-items: center;
}
.friend-avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}
