.sideBarRight {
    position: sticky;
    top: 76px;
    width: 20vw;
    min-height: calc(100vh - 76px);
    max-height: calc(100vh - 76px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo {
    margin-bottom: 20px;
}

.logo img {
    width: 100px;
}

.sideBarRight h1 {
    font-size: 16px;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
}

.sideBarRight-content {
    max-height: calc(100%);
    overflow-y: auto;
    width: 90%;
}

.friend-list {
    display: flex;
    align-items: center;
    margin-bottom: 0px;
    padding: 5px;
    border-radius: 4px;
    background-color: #f5f5f5;
}

.friend-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 10px;
}

.friend-avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.friend-details {
    flex-grow: 1;
}

.friend-details h3 {
    font-size: 13px;
    font-weight: bold;
    color: #333;
    margin: 0;
}

.friend-status-online {
    font-size: 12px;
    color: #ffffff;
    text-transform: uppercase;
    padding: 5px 5px;
    border-radius: 50%;
    background-color: #FF69B4;
}

.sideBarRight-content::-webkit-scrollbar {
    width: 6px;
}

.sideBarRight-content::-webkit-scrollbar-track {
    background-color: transparent;
}

.sideBarRight-content::-webkit-scrollbar-thumb {
    background-color: #FFB6C1;
    border-radius: 4px;
}

.friend-list:hover {
    background-color: #FFB6C1;
    cursor: pointer;
}
.sideBarLeft a:hover h3 {
    color: white;
}