.sideBarRight {
    position: sticky;
    top: 0;
    width: 300px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo {
    margin-bottom: 20px;
}

.logo img {
    width: 100px;
}

.sideBarRight h1 {
    font-size: 16px;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
}

.sideBarRight-content {
    max-height: calc(100%);
    overflow-y: auto;
    width: 90%;
}

.friend-list {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    background-color: #f5f5f5;
}

.friend-avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 10px;
}

.friend-avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.friend-details {
    flex-grow: 1;
}

.friend-details h2 {
    font-size: 14px;
    font-weight: bold;
    color: #333;
    margin: 0;
}

.friend-status-online {
    font-size: 12px;
    color: #ffffff;
    text-transform: uppercase;
    padding: 5px 10px;
    border-radius: 15px;
    background-color: #58b44e;
}

.sideBarRight-content::-webkit-scrollbar {
    width: 6px;
}

.sideBarRight-content::-webkit-scrollbar-track {
    background-color: transparent;
}

.sideBarRight-content::-webkit-scrollbar-thumb {
    background-color: #ccc;
    border-radius: 3px;
}

.friend-list:hover {
    background-color: #ddd;
    cursor: pointer;
}