/*.groups-manage {*/
/*    display: flex;*/
/*    height: 100vh;*/
/*    min-width: 100%;*/
/*    max-height: 100%;*/
/*}*/

.groups-list {
    flex: 0 0 auto;
    width: 35%;
    /*background: #f0f2f5;*/
    padding: 20px;
    overflow-y: auto;
    max-height: calc(100vh - 76px);
    border: 1px solid #ccc;
    border-radius: 4px;
}

.groups-list > div {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 3px;
}

.groups-list ul {
    list-style: none;
    padding: 0;
    margin: 0;
    min-height: calc(100vh - 105px);
    max-height: calc(100vh - 90px);
}

.groups-list li {
    margin-bottom: 10px;
}

/*.chat-messages li div {*/
/*    word-wrap: break-word;*/
/*}*/

/*.groups-list button {*/
/*    background: none;*/
/*    border: none;*/
/*    padding: 0;*/
/*    font-size: 16px;*/
/*    cursor: pointer;*/
/*}*/

.chat-content {
    flex: 1 1 auto;
    width: 65%;
    display: flex;
    flex-direction: column;
    background: #fff;
    padding: 20px;
    min-height: calc(100vh - 75px);
    max-height: calc(100vh - 75px);
    border: 1px solid #ccc;
    border-radius: 4px;
}

.chat-content-header {
    font-weight: bold;
    min-height: 6%;
    max-height: 6%;
}

.chat-box {
    overflow-y: auto;
    max-width: 100%;
    border-top: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;
    max-height: 85%;
    min-height: 85%;
}
.send-message{
    max-height: 9%;
    min-height: 9%;
}
.chat-box{
    padding-left: 0;
}
.chat-messages{
    max-width: 100%;
    display: flex;
    flex-direction: column;
}

.sender-self {
    align-self: flex-end;
    border-radius: 8px;
    background-color: #FFB6C1;
    padding: 5px;
    max-width: 80%;
    margin: 5px;
    display: flex;
    flex-direction: column;
    /*color: #fff;*/
    text-align: right;
    font-weight: bolder;
}

.chat-box{
    display: flex;
    flex-direction: column;
}
.sender-other {
    border-radius: 8px;
    background-color: #58a1ef;
    padding: 5px;
    max-width: 80%;
    margin: 5px;
    display: flex;
    flex-direction: column;
    color: #fff;
    align-self: flex-start;
}
.sender-self > .chat-message-name {

}

/*.chat-messages {*/
/*    flex: 1 1 auto;*/
/*    overflow-y: scroll;*/
/*    list-style: none;*/
/*    padding: 0;*/
/*    margin: 0;*/
/*    max-height: 100%;*/
/*    min-height: 100%;*/
/*}*/

/*.chat-messages li {*/
/*    margin-bottom: 10px;*/
/*}*/

.send-message {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.input-message {
    flex: 1;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.send-button {
    margin-left: 10px;
    padding: 10px 20px;
    font-size: 16px;
    background: #FFB6C1;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.send-button:hover {
    background: #FF69B4;
}

.groups-list-list i:hover {
    cursor: pointer;
}

/*.chat-box {*/
/*    border: 1px solid #e0e2e5;*/
/*    border-radius: 4px;*/
/*    min-height: calc(100vh - 200px);*/
/*    max-height: calc(100vh - 200px);*/
/*    overflow: hidden;*/
/*}*/

/*li {*/
/*    display: flex;*/
/*    align-items: center;*/
/*    padding: 5px;*/
/*    border-radius: 4px;*/
/*    !*background-color: #f5f5f5;*!*/
/*}*/

/*li.sender-self {*/
/*    justify-content: flex-end;*/
/*}*/

/*li.sender-other {*/
/*    justify-content: flex-start;*/
/*}*/

/*!*li.sender-self:before,*!*/
/*!*li.sender-other:before {*!*/
/*!*    content: "";*!*/
/*!*    display: inline-block;*!*/
/*!*    width: 10px;*!*/
/*!*    height: 10px;*!*/
/*!*    border-radius: 50%;*!*/
/*!*    margin-right: 5px;*!*/
/*!*}*!*/

/*!*li.sender-self:before {*!*/
/*!*    background-color: none;*!*/
/*!*}*!*/

/*!*li.sender-other:before {*!*/
/*!*    background-color: none;*!*/
/*!*}*!*/

/*li.sender-self > div {*/
/*    background-color: #e75c1f;*/
/*    color: #fff;*/
/*    padding: 5px;*/
/*    border-radius: 4px;*/
/*}*/

/*.chat-content {*/
/*    max-width: 70%;*/
/*}*/

/*-------------------- new css*/
.groups-manage{
    min-width: 100%;
    max-width: 100%;
    min-height: calc(100vh - 74px);
    max-height: 100%;
    display: flex;
}
.groups-list {
    min-width: 30%;
    max-width: 30%;
}

.chat-content {
    min-width: 70%;
    max-width: 70%;
    justify-content: space-between;
}





.groups-list {
    min-width: 30%;
    max-width: 30%;
    overflow-y: auto;
    border-right: 1px solid #e0e0e0;
}

.groups-list-header {

    align-items: center;
    justify-content: space-between;
    padding: 10px;

}

.groups-list-search {
    width: 90%;
    padding: 5px;
}

.groups-list-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 4px;
    border: 1px #f5f5f5;
    background-color: #eeeeee;
    min-height: 50px;
    max-height: 50px;
}

.group-list-list-group-name a{
    color: black;
}

.groups-list-header i:hover{
  cursor: pointer;
}
