.footer {
    display: flex;
    /*flex-wrap: wrap;*/
    justify-content: center;
    align-items: center;
    padding: 20px;
    /*margin-top: 200px;*/
    background-color: #FFB6C1;
}

.footer p {
    margin: 0 30px;
    font-size: 14px;
}