.group {
    flex:2;
    min-width: 60vw;
    max-width: 60vw;
    /*display: flex;*/
    flex-direction: column;
    align-items: center;
    /*justify-content: center;*/
    background-color: #fff;
    min-height: calc(100vh - 76px);
    max-height: calc(100vh - 76px);
}