.feedCardHeader-wall {
    display: flex;
    align-items: center;
    padding: 10px;
}

.feedCardHeader-wall .feedCardAvatar img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.feedCardHeader-wall .feedCardHeaderInfo {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    width: 100%;
}

.feedCardHeader-wall .feedCardHeaderName {
    font-size: 16px;
    font-weight: bold;
    color: #333;
}

.feedCardHeader-wall .feedCardHeaderName span:hover {
    text-decoration: underline;
}

.feedCardHeader-wall .feedCardHeaderAction {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.feedCardHeader-wall .feedCardHeaderAction-button {
    margin-left: auto;
    display: flex;
    align-items: center;
}

.feedCardHeader-wall .change-view-button button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 18px;
    color: #666;
    margin-right: 10px;
}

.feedCardHeader-wall .change-view-button button:hover {
    color: #333;
}

.feedCardHeader-wall .delete-post-button span {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 20px;
    color: #666;
    margin-right: 10px;
}

.feedCardHeader-wall .delete-post-button span:hover {
    color: #333;
}

.feedCardHeader-wall .feedCardHeaderTimestamp {
    font-size: 14px;
    color: #999;
    margin-top: 0px;
}

.delete-post-button {
    flex: 4;
    padding: 5px;
    margin-right: 30px;
}