/* styles.css */

body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
}

.feedCardImage {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #ccc;
    padding: 8px;
}

th {
    background-color: #f2f2f2;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    font-weight: bold;
}

button:hover {
    background-color: #0056b3;
}

.error-message {
    color: red;
    font-size: 14px;
    margin-top: 5px;
}



.left-content {
    flex: 1;
    margin-right: 20px;
}

#nav-left {
    line-height:90px;
    background-color:#eeeeee;
    height:1000px;
    width:220px;
    float:left;
    padding:5px;
}


#nav-right {
    line-height:90px;
    background-color:#eeeeee;
    height:1000px;
    width:200px;
    float:right;
    padding:5px;
}


#section {
    width:350px;
    float:left;
    padding:10px;
}

#header {
    background-color: #ff8c00;
    color:white;
    text-align:center;
    padding:5px;
}

td {
    cursor: pointer;
}

td span {
    margin-left: 5px;
}

.user-table tr:nth-child(even) {
    background-color: #cccccc; /* Màu xám nhạt */
}

/* Kiểu màu cho dòng lẻ */
.user-table tr:nth-child(odd) {
    background-color: #fff; /* Màu trắng */
}



